# MariaDB Server configuration
#
# {{ ansible_managed }}

[mariadb]
datadir                            = {{ mariadb_datadir }}
socket                          = {{ mariadb_socket }}
port                            = {{ mariadb_port }}
skip_name_resolve               = {{ mariadb_skip_name_resolve }}
bind-address                    = {{ mariadb_bind_address }}
bind_address                    = {{ mariadb_bind_address }}

default_storage_engine          = InnoDB

character_set_server            = {{ mariadb_character_set_server }}
collation_server                = {{ mariadb_collation_server }}

sysdate_is_now                  = {{ mariadb_sysdate_is_now }}
log_warnings                    = {{ mariadb_log_warnings }}
slow_query_log                  = {{ mariadb_slow_query_log }}
long_query_time                 = {{ mariadb_long_query_time }}
expire_logs_days                = {{ mariadb_expire_logs_days }}
sync_binlog                     = {{ mariadb_sync_binlog }}

max_connections                 = {{ mariadb_max_connections }}
max_connect_errors              = {{ mariadb_max_connect_errors }}
max_user_connections            = {{ mariadb_max_user_connections }}
max_allowed_packet              = {{ mariadb_max_allowed_packet }}
max_heap_table_size             = {{ mariadb_max_heap_table_size }}
thread_concurrency              = {{ ansible_processor_vcpus * 2 }}
wait_timeout                    = {{ mariadb_wait_timeout }}

query_cache_type                = {{ mariadb_query_cache_type }}
query_cache_size                = {{ mariadb_query_cache_size }}
thread_cache_size               = {{ mariadb_thread_cache_size }}
sort_buffer_size                = {{ mariadb_sort_buffer_size }}
tmp_table_size                  = {{ mariadb_tmp_table_size }}
read_buffer_size                = {{ mariadb_read_buffer_size }}
read_rnd_buffer_size            = {{ mariadb_read_rnd_buffer_size }}
join_buffer_size                = {{ mariadb_join_buffer_size }}
table_definition_cache          = {{ mariadb_table_definition_cache }}
table_open_cache                = {{ mariadb_table_open_cache }}
table_open_cache_instances      = {{ mariadb_table_open_cache_instances }}
open_files_limit                = {{ mariadb_open_files_limit }}

innodb_strict_mode              = {{ mariadb_innodb_strict_mode }}
innodb_buffer_pool_size         = {{ mariadb_innodb_buffer_pool_size }}
innodb_buffer_pool_instances    = {{ mariadb_innodb_buffer_pool_instances }}
innodb_buffer_pool_load_at_startup = {{ mariadb_innodb_buffer_pool_load_at_startup }}
innodb_file_per_table           = {{ mariadb_innodb_file_per_table }}
innodb_flush_method             = {{ mariadb_innodb_flush_method }}
innodb_flush_log_at_trx_commit  = {{ mariadb_innodb_flush_log_at_trx_commit }}
innodb_log_buffer_size          = {{ mariadb_innodb_log_buffer_size }}
innodb_log_file_size            = {{ mariadb_innodb_log_file_size }}
innodb_log_files_in_group       = {{ mariadb_innodb_log_files_in_group }}
log_bin_trust_function_creators = {{ mariadb_innodb_log_bin_trust_function_creators }}

# replication configuration
# enabling binary logs
{% if mariadb_ha_enabled is defined and mariadb_ha_enabled %}

relay-log                       = {{ mariadb_replication_dir }}/mysql-relay-bin
relay-log-index                 = {{ mariadb_replication_dir }}/mysql-relay-bin.index
master-info-file                = {{ mariadb_replication_dir }}/master.info
relay-log-info-file             = {{ mariadb_replication_dir }}/relay-log.info
log-bin                         = {{ mariadb_journal_dir }}/bin
binlog_format                   = 'mixed'
log-slave-updates               = ''
replicate-same-server-id        = '0'
slave-skip-errors               = '1062'
innodb_data_home_dir            = {{ mariadb_datadir }}
innodb_data_file_path           = ibdata1:10M:autoextend
innodb_log_group_home_dir       = {{ mariadb_journal_dir }}
innodb_buffer_pool_size         = 384M
innodb_log_file_size            = 100M
innodb_log_buffer_size          = 8M
innodb_flush_log_at_trx_commit  = 1
innodb_lock_wait_timeout        = 28000
{% endif %}
{% if mariadb_ha_enabled is defined and mariadb_ha_enabled and inventory_hostname == (mariadb_servers | first) %}
server-id                       = 1
{% else %}
server-id                       = 2
{% endif %}

